* {
	padding: 0;
	margin: 0;
}
body {
	width: 100%;
}

table {
	width: 100%;
}

/*顶部和底部*/
thead th,
tfoot td {
	height: 70px;
	background: #87CEFA;
	text-align: left;
}

tfoot td {
	text-align: center;
}
/*中间部分*/
/*左边*/
.left {
	width: 12%;
}
/*右边*/
.right {
	width: 88%;
}

.right img {
	width: 70px;
	height: 60px;
}
